@charset "ISO-8859-1";

/* main colors*/
:root {
 /* --main-bg-color: #fb609b;*/
  --main-bg-color: #60d7fb;
 
   
}

.checked {
  color: orange;
}

.site-navbar-top{
	background-color: var(--main-bg-color)
}

.p-3.p-lg-5.border{
	background-color: var(--main-bg-color);
	color : white;
}

.icon.icon-shopping_cart{
	color:white;
}

form .fa.fa-star{
	color:white;
}
form .fa.fa-star.checked{
	color:orange;
}

.imgList{
	width: 40px;
}
.imgInForm{
	width: 200px
}

.bg-light.py-3 {
    display: none;
}

.shoppingIcon{
	display: block;
    position: absolute;
    right: 35px;
    font-size: x-large;
    color: var(--main-bg-color);
    -webkit-transition: font-size 0.5s;
	transition-timing-function: linear;
}

.confirmCartIcon{
	font-size: x-large;
	cursor: pointer;
}

.shoppingIcon:hover{
	display: block;
    position: absolute;
    right: 35px;
    font-size: xx-large;
    color: var(--main-bg-color);
    cursor: pointer
}