.box {
  /*width: 200px; height: 300px;
  position: relative;
  border: 1px solid #BBB;
  background: #EEE;*/
}
.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 126px;
  height: 100px;
  text-align: right;
}
.ribbon span {
  font-size: 14px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 35px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 130px;
  display: block;
  background: var(--main-bg-color);
  background: linear-gradient(var(--main-bg-color) 0%, var(--main-bg-color) 100%);
  box-shadow: -2px 6px 12px 0px rgba(0, 0, 0, 1);
  			 
  position: absolute;
  top: 18px;
  right: -14px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #0059A7;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #0059A7;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #0059A7;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #0059A7;
}

.ribbon span.ribbon_New{
	background: linear-gradient(#fff700 0%, #fff700 100%);
    color: black;
}

.ribbon span.ribbon_Limited{
	    background: linear-gradient(#ff0000 0%, #ff0000 100%);
    color: white;
}
.ribbon span.ribbon_Hidden{
	display: none;    
    
}